* {
  font-family: helvetica; }

i {
  font-size: 20em; }

h2 {
  font-size: .75rem; }

h3 {
  text-align: center; }

p {
  font-size: .375rem;
  padding-right: 12.5px; }

ul {
  list-style: none; }

.wrapper {
  width: 100%;
  height: 1000px;
  max-width: 1500px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1; }
  .wrapper:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.container {
  width: 50%;
  max-width: 630px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 1065px) {
    .container {
      transition: background-color, width 1.5s ease;
      width: 100%; } }
  @media only screen and (max-width: 520px) {
    .container {
      transition: background-color, 1.5s ease;
      background-color: #484846; } }

.nav-bar {
  width: 100%;
  height: auto;
  margin: 0 auto; }

h4 {
  float: left;
  padding-right: 5px;
  color: #D2D2D2;
  text-transform: uppercase;
  font-size: .25rem; }

.social {
  width: 275px;
  height: 40px;
  float: right;
  margin-bottom: 10px; }
  @media only screen and (max-width: 1065px) {
    .social {
      transition: display 0.5s ease;
      display: none; } }

.facebook {
  width: 35px;
  height: 35px;
  float: right;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  background-color: #4169E1; }
  .facebook .fa-facebook {
    padding: 10px 0 0 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

.rss {
  width: 35px;
  height: 35px;
  float: right;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  background-color: #d7b02d;
  margin-right: 10px; }
  .rss .fa-rss {
    padding: 10px 0 0 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

.twitter {
  width: 35px;
  height: 35px;
  float: right;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  background-color: #6699FF;
  margin-right: 10px; }
  .twitter .fa-twitter {
    padding: 10px 0 0 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

.youtube {
  width: 35px;
  height: 35px;
  float: right;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  background-color: maroon;
  margin-right: 10px; }
  .youtube .fa-youtube {
    padding: 10px 0 0 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

h3 {
  text-transform: uppercase;
  color: white;
  font-size: .5rem;
  font-weight: 100;
  margin-top: 5px; }
  @media only screen and (max-width: 1065px) {
    h3 {
      transition: display 0.5s ease;
      background-color: #333; } }
  @media only screen and (max-width: 520px) {
    h3 {
      display: none; } }

.nav-page-links {
  width: 100%;
  height: 20px;
  padding: 5px 0 0 1.25%;
  clear: both; }
  @media only screen and (max-width: 1065px) {
    .nav-page-links {
      padding: 0;
      margin: 0;
      height: 3px; } }
  @media only screen and (max-width: 520px) {
    .nav-page-links {
      display: none; } }

.sk8t-news {
  width: 23.5%;
  height: 20px;
  background-color: #B42930;
  text-align: center;
  float: left;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5); }
  @media only screen and (max-width: 1065px) {
    .sk8t-news {
      transition: display 0.5s ease;
      background-color: #333;
      box-shadow: none; } }
  @media only screen and (max-width: 520px) {
    .sk8t-news {
      display: none; } }

.skateboarders {
  width: 23.5%;
  height: 20px;
  background-color: #B42930;
  text-align: center;
  float: left;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  margin: 0 10px 0 10px; }
  @media only screen and (max-width: 1065px) {
    .skateboarders {
      transition: display 0.5s ease;
      background-color: #333;
      box-shadow: none; } }
  @media only screen and (max-width: 520px) {
    .skateboarders {
      display: none; } }
  @media only screen and (max-width: 1065px) {
    .skateboarders {
      margin: 0; } }

.board-design {
  width: 23.5%;
  height: 20px;
  background-color: #B42930;
  text-align: center;
  float: left;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5); }
  @media only screen and (max-width: 1065px) {
    .board-design {
      transition: display 0.5s ease;
      background-color: #333;
      box-shadow: none; } }
  @media only screen and (max-width: 520px) {
    .board-design {
      display: none; } }

.contact-us {
  width: 23.5%;
  height: 20px;
  background-color: #B42930;
  text-align: center;
  float: left;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.5);
  margin: 0 0 0 10px; }
  @media only screen and (max-width: 1065px) {
    .contact-us {
      transition: display 0.5s ease;
      background-color: #333;
      box-shadow: none; } }
  @media only screen and (max-width: 520px) {
    .contact-us {
      display: none; } }
  @media only screen and (max-width: 1065px) {
    .contact-us {
      margin: 0; } }

.news-container {
  width: 100%;
  height: 400px;
  font-family: arial;
  margin: 0 auto;
  position: relative; }

ul {
  list-style: none; }

ul small {
  color: #666; }

li:nth-child(1) {
  background-color: #FEFEFE;
  position: absolute;
  width: 175px;
  height: 175px;
  margin: 0 5px 0 0;
  max-height: 175px;
  left: 0; }

li:nth-child(1) h2, small, p {
  padding-left: 12.5px;
  float: left;
  left: 0; }

li:nth-child(2) {
  background-color: #FEFEFE;
  position: absolute;
  width: 175px;
  height: 175px;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 520px) {
    li:nth-child(2) {
      transition: display 0.5s ease;
      display: none; } }

li:nth-child(2) h2, small, p {
  padding-left: 12.5px; }

li:nth-child(3) {
  background-color: #FEFEFE;
  position: absolute;
  width: 175px;
  height: 175px;
  right: 0; }
  @media only screen and (max-width: 520px) {
    li:nth-child(3) {
      display: none; } }

li:nth-child(3) h2, small, p {
  padding-left: 12.5px; }

h2:nth-of-type(3) {
  padding-top: 25px; }

.logo {
  width: 100% -5px;
  height: 175px;
  margin-top: 10px;
  background-image: url("../images/peralta-logo.png");
  background-size: 225.5px 130.35px;
  background-repeat: no-repeat;
  background-position: 25px 25px;
  border: 5px solid #FEFEFE;
  opacity: 0.9; }
  @media only screen and (max-width: 1065px) {
    .logo {
      transition: margin-top 0.5s ease;
      margin-top: 25px; } }
  @media only screen and (max-width: 520px) {
    .logo {
      display: none; } }

.hero-photo {
  width: 100% -5px;
  height: 175px;
  margin-top: 10px;
  height: 180px;
  background-image: url("../images/top-image.png");
  background-size: 825px 508.2px;
  background-repeat: no-repeat;
  background-position: -65px -60px; }
  @media only screen and (max-width: 1065px) {
    .hero-photo {
      transition: margin-top 0.5s ease;
      margin-top: 25px; } }
  @media only screen and (max-width: 520px) {
    .hero-photo {
      display: none; } }

#overlay {
  width: 100% -5px;
  height: 175px;
  margin-top: 10px;
  height: 180px;
  background-image: url("http://transparenttextures.com/patterns/clean-gray-paper.png");
  opacity: 0.6; }
  @media only screen and (max-width: 1065px) {
    #overlay {
      transition: margin-top 0.5s ease;
      margin-top: 25px; } }
  @media only screen and (max-width: 520px) {
    #overlay {
      display: none; } }
