
.wrapper {
  width: 100%;
  height: $full-page-height;
  max-width: 1500px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.container {
  width: $container-width;
  max-width: 1015px;
  height: $full-page-height;
  margin: 0 auto;
  background-color: $slightly-transparent;

    @media #{$information-tablet} {
      transition: background-color, width 1.5s ease;
      background-color: green;
      width: 100%;

    }

    @media #{$information-phone} {
      transition: background-color, 1.5s ease;
      background-color: blue;
    }

  }
