
.wrapper {
  width: 100%;
  height: $full-page-height;
  max-width: 1500px;
  background-color: black;

}

.container {
  width: $container-width;
  max-width: 1015px;
  height: $full-page-height;
  margin: 0 auto;
  background-color: yellow;

    @media #{$information-tablet} {
      transition: background-color, width 1.5s ease;
      background-color: green;
      width: 100%;

    }

    @media #{$information-phone} {
      transition: background-color, 1.5s ease;
      background-color: blue;
    }

  }
