@import "modules/box-sizing";

// Screen Variables
// --------------------------------------------------
$responsive-sizes:	(
	phablet: 550px,
	tablet: 750px,
	desktop-small: 1000px,
	desktop-large: 1200px,
);


// Media Queries
// --------------------------------------------------
@mixin responsive($screen) {
	@each $screen-type, $screen-size in $responsive-sizes {
		@if $screen == $screen-type {
			@media(min-width: $screen-size) {
				@content;
			}
		}
	}
}


h1 {
  font-size: 24px;

  &:after {
    content: '\< 750px';
  }

  @include responsive(tablet){
    font-size: 30px;

    &:after {
      content: '> 750px';
    }
  }

  @include responsive(desktop-small){
    font-size: 36px;

    &:after {
      content: '> 1000px';
    }
  }

  @include responsive(desktop-large){
    font-size: 48px;

    &:after {
      content: '> 1200px';
    }
  }
}
