$accent: #B42930;
$dark-text: #484846;
$light-text: #D2D2D2;
$white: #FEFEFE;

$full-page-height: 1000px;
$container-width: 50%;

$information-phone: "only screen and (max-width : 520px)";
$information-tablet: "only screen and (max-width : 1015px)";

$slightly-transparent: rgba(255, 255, 255, 0.5);
$box-shadow: 0px 2px $slightly-transparent;
