@mixin nav-box {
  width: 23.5%;
  height: 28px;
  background-color: $accent;
  text-align: center;
  // padding: .75px;
  float: left;
  box-shadow: $box-shadow;

    @media #{$information-tablet} {
      transition: display 0.5s ease;
      display: none;
    }
}

.nav-bar {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #666;
}

//social icons -------------------------------------------------------

h4 {
  float: left;
  padding-right: 21px;
}

.social {
  width: 370px;
  height: 60px;
  // background-color: green;
  float: right;
  margin-bottom: 10px;
}

.facebook {
  background-color: blue;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.fa-facebook {
  padding: 15px 0 0 19px;
  text-align: center;
  background-color: blue;
  font-size: 35px;
}

.rss {
  background-color: burlywood;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.fa-rss {
  padding: 15px 0 0 19px;
  text-align: center;
  background-color: yellow;
  font-size: 35px;
}

.twitter {
  background-color: lightblue;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.fa-twitter {
  padding: 15px 0 0 12px;
  text-align: center;
  background-color: lightblue;
  font-size: 35px;
}

.youtube {
  background-color: maroon;
  width: 60px;
  height: 60px;
  float: left;
}

.fa-youtube {
  padding: 15px 0 0 15px;
  text-align: center;
  background-color: maroon;
  font-size: 35px;
}

//nav-page-links -----------------------------------------------------------------
h3 {
  text-transform: uppercase;
  color: white;
  font-size: .75rem;
  background-color: $accent;
}

.nav-page-links {
  max-width: 100%;
  height: 50px;
  // background-color: black;
  clear: both;
}

.sk8t-news {
  @include nav-box;
}

.skateboarders {
  @include nav-box;
  margin: 0 10px 0 10px;
}

.board-design {
  @include nav-box;
}

.contact-us {
  @include nav-box;
  margin: 0 0 0 10px;
}
