@mixin hero-sizing {
  width: 100% -5px;
  height: $box-height;
}

.hero {
  @include hero-sizing;
  background-image: url('../images/peralta-logo.png');
  background-size: 225.5px 130.35px;
  background-repeat: no-repeat;
  background-position: 25px 25px;
  border: 5px solid $white;
}

.hero-overlay {
  @include hero-sizing;
  height: $box-height +5px;
  background-image: url("http://transparenttextures.com/patterns/clean-gray-paper.png"), url("../images/top-image.png");
  background-color: red;
  background-size: 825px 508.2px, 825px 508.2px;
  background-repeat: no-repeat, no-repeat;
  background-position: -65px -60px, -65px -60px;
}
